@media (max-width:768px) {
    .home{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:768px)and (max-width:1024px){
    .home{
        display: flex;
    }
}

@media (min-width:1024px){
    .home{
        display: flex;
    }
}

.logoutbtn{
    text-align: center;
    margin-bottom: 5vh;
}