h1{
    margin: 0% 0% 5% 0%;
}
@media screen and (max-width:600px) {
    .login_form{
        margin: 10% 10%;
    }
}

@media screen and (max-width:800px) {
    .login_form{
        margin: 15% 15%;
    }
}

@media screen and (min-width:800px) {
    .login_form{
        margin: 10% 25%;
    }
}


.form-text{
    color: whitesmoke;
}

.form-check-label{
    color: whitesmoke  !important;
}
